<%- include('head')  %>
<script src="./js/booking.js" defer></script>
<%- include('header') %>

<body>
  <h1>Room Bookings</h1>
  <fieldset>
    <form id="booking_form">
      <label for="room_type">Select Room Type</label><br /><br />
      <label for="std_d_rm_qty">Standard Double Room: </label>
      <select id="std_d_rm_qty" name="std_d_rm_qty">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option></select
      ><br />
      <label for="sup_d_rm_qty"> Superior Double Room:</label>
      <select id="sup_d_rm_qty" name="sup_d_rm_qty">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option></select
      ><br />
      <label for="std_t_rm_qty">Standard Twin Room:</label>
      <select id="std_t_rm_qty" name="std_t_rm_qty">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option></select
      ><br />
      <label for="sup_t_rm_qty"> Superior Twin Room:</label>
      <select id="sup_t_rm_qty" name="sup_t_rm_qty">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option></select
      ><br /><br />

      <label for="start_date">From:</label>
      <input type="date" id="start_date" name="start_date" required/><br />
      <label for="finish_date">To:</label>
      <input type="date" id="finish_date" name="finish_date" required />
      <br /><br />

      <!-- <label for="additional_requirements" >Additional Requirements</label><br />
      <textarea name="additional_requirements" rows="5" cols="35" value="additionl requirements"></textarea -->
      <br /><br />

      <input type="submit" value="Submit" />
    </form>
  </fieldset>

  <%- include('footer') %>

