<%- include('head')  %>
<%- include('header') %>

<h1>Contact Us</h1>

<div class="contact_box">
    <h3>Email</h3>
        <a href="mailto:contact@lakesidehotel.com">contact@lakesidehotel.com</a>
    <br><br>

    <h3>Telephone</h3>
        <a href="tel:+442637983645">+442637983645</a>
    <br><br>

    <h3>Address</h3>
    <div class="address">
        <p>Lakeside Hotel</p>
        <p>Union Street</p>
        <p>Norwich</p>
        <p>NR79JK</p>
    </div>

</div>

<%- include('footer') %>
