<%- include('head')  %>
<%- include('header') %>

<body>
  <main class="attractions_main">
    <div class="row">

        <div class="picture">
          <img src= "./images/lakeFitness.jpeg" alt="Lakeside Fitness" class="image">
          <div class="caption">The Lakeside Fitness Hub</div>
          <div class="descriptive-text">The Lakeside Fitness Hub, our offsite retreat, offers dazzingly and enchanting views across the Norfolk Broads. We thoroughly reccomend an early morning trip.</div>
        </div>      

        <div class="picture">
          <img src= "./images/cathedralDining.jpeg" alt="Norwich Cathedral"class="image">
          <div class="caption">The Cathedral Dining Room</div>
          <div class="descriptive-text">Our Cathedral Dining Room combines gothic styling, with a more rustic aesthetic and warm hearty food. Fresh supplies are delivered from all over Norwich straight to your plate. </div>
        </div>

        <div class="picture">
          <img src= "./images/twilightBar.jpeg" alt="Twilight Bar"class="image">
          <div class="caption">The Twilight Bar</div>
          <div class="descriptive-text">Enjoy a relaxing fireside chat in our Twilight bar.</div>
        </div>

      </div>

      <div class="row">

        <div class="picture">
          <img src= "./images/MeetingRoom.jpeg" alt="Meeting Room"class="image">
          <div class="caption">Function Rooms</div>
          <div class="descriptive-text">The James-Willis, Kirkegard and Jerome-Harris function rooms each host up to 60 guests. Hosting Society meetings, Club and Sports team meetings and Corporate Events.</div>
        </div>

        <div class="picture">
          <img src= "./images/24hourSecurity.jpeg" alt="24hr security"class="image">
          <div class="caption">24Hour Security</div>
          <div class="descriptive-text">Your well-being and comfort is our highest priority, treat our hotel like your home away from home.</div>
        </div>

      </div>
  </main>
</body>


<%- include('footer') %>
