<%- include('head')  %>
<%- include('header') %>

<body>
  <main class="attractions_main">
    <div class="row">

        <div class="picture">
          <img src= "./images/double-room-expense.jpg" alt="Norwich Castle" class="image">
          <div class="caption">The Lakeside Fitness Hub</div>
          <div class="descriptive-text">The Lakeside Fitness Hub, our offsite retreat, offers dazzingly and enchanting views across the Norfolk Broads. We thoroughly reccomend an early morning trip.</div>
        </div>      

        <div class="picture">
          <img src= "./images/double-room-expense.jpg" alt="Norwich Cathedral"class="image">
          <div class="caption">The Cathedral Dining Room</div>
          <div class="descriptive-text">Our Cathedral Dining Room combines gothic styling, with a more rustic aesthetic and warm hearty food. Fresh supplies are delivered from all over Norwich straight to your plate. </div>
        </div>

        <div class="picture">
          <img src= "./images/double-room-expense.jpg" alt="The Sainbury's Centre"class="image">
          <div class="caption">The Twilight Bar</div>
          <div class="descriptive-text">Enjoy a relaxing fireside chat in our Twilight bar.</div>
        </div>

      </div>

      <div class="row">

        <div class="picture">
          <img src= "./images/double-room-expense.jpg" alt="The Norfolk Broads"class="image">
          <div class="caption">Function Rooms</div>
          <div class="descriptive-text">The James-Willis, Kirkegard and Jerome-Harris function rooms each host up to 60 guests. Hosting Society meetings, Club and Sports team meetings and Corporate Events.</div>
        </div>

        <div class="picture">
          <img src= "./images/double-room-expense.jpg" alt="BeWILDerwood childrens play area"class="image">
          <div class="caption">24Hour Security</div>
          <div class="descriptive-text">Your well-being and comfort is our highest priority, treat our hotel like your home away from home.</div>
        </div>

      </div>
             <!-- buttons with distinct classes which affect the plusSlides function and have characters associated -->
        <!-- <a class="prev" onclick="NavSlides(-1)">Back</a>
        <a class="next" onclick="NavSlides(+1)">Next</a>t
      </div>
      <br>

      <div class="Within-slide-location-container">
        <span class="marker" onclick="currentSlide(1)" ></span>
        <span class="marker" onclick="currentSlide(2)" ></span>
        <span class="marker" onclick="currentSlide(3)" ></span>
        <span class="marker" onclick="currentSlide(4)" ></span>
        <span class="marker" onclick="currentSlide(5)" ></span>
      </div> -->

      <!-- buttons with distinct classes which affect the plusSlides function and have characters associated -->

      <!-- dots which when clicked set the current slide value to 1, 2, 3 -->
  </main>
</body>


<%- include('footer') %>
