<body>
    <script src="Slideshow.js"></script>
    <header>
      <img id= "logo" src = "./images/logo_(1).png" alt = "Website_logo">

      <!-- Navigation bar at top of page -->
      <nav class= "navbar"> 
        <a href="#">HOME</a>
        <a href="">ROOMS</a>
        <a href="">ATTRACTIONS</a>
        <a href="">FACILITIES</a>
        <a href="">CONTACT</a>
      </nav>
    </header>
