<body>
    <!-- <script src="Slideshow.js"></script> -->
    <header>
      <a href="./"><img id= "logo" src = "./images/logo_(1).png" alt = "Website_logo"></a>

      <!-- Navigation bar at top of page -->
      <nav class= "navbar"> 
        <a href="./">HOME</a>
        <a href="./rooms">ROOMS</a>
        <a href="/attractions">ATTRACTIONS</a>
        <a href="./facilities">FACILITIES</a>
        <a href="/contact">CONTACT</a>
      </nav>
    </header>
