<%- include('head') %>
<%- include('header') %>

  <nav>
    <h1>Welcome to the <%= title %></h1>
  </nav>

<main>
  <section class="description">
    <img class = "skyline" src = "./images/norwich.jpeg" alt = "Norwich skyline">
    <div class = "left">
        <h3>The LakeSide Hotel is a beautifully located hotel in the heart of Norwich city.</h3>
        <h3>Norwich is a fantastic place to explore with many cute cobbled streets, cozy coffee
            shops and ....</h3>
      </div>
  </section>
</main>

  <%- include('footer') %>

