<%- include('head')  %>

<%- include('header') %>

<body>
  <main>
    <h2 id="rooms_h2">The Rooms</h2>
    <div class="rooms_container"></div>
      <div class="containerA">
        <img src="\images\double-deluxe.jpg" alt="double-room-expense" class="r_right">

        <img src="\images\double-standard.jpg" alt="double-room-cheap" class="r_left">
      </div>

      <div class="containerB">
        <img src="\images\twin-deluxe.jpg" alt="twin-room-expense" class="r_right">

        <img src="\images\twin-standard.jpg" alt="twin-room-cheap" class="r_left">
      </div>
    </div>

    <div class="room_titles" id="Art">Double Rooms</div>

    <div class="room_titles" id="Brt">Twin Rooms</div>

    <!-- <div class="room_titles" id="Crt">-Hover to see Deluxe Rooms-</div> -->

    <div class="room_titles" id="double_desc">Our Double Rooms come in two distinct styles, Standard and Deluxe.<br> Perfect for a single looking for some extra bed room,<br> or a couple looking for a romantic getaway.</div>

    <div class="room_titles" id="twin_desc">Our Twin Rooms come in two distinct styles, Standard and Deluxe.<br> Share some space with a friend, or get some space from your patner<br> (we all deserve a good nights sleep).</div>
    <a href="./bookings"><button class="book-now"> Book Now!</button></a>
  </main>
</body>


<%- include('footer') %>
