<%- include('head')  %>

<%- include('header') %>

<body>
  <main>
    <h2 id="rooms_h2">The Rooms</h2>
    <div class="rooms_container"></div>
      <div class="containerA">
        <img src="\images\double-deluxe.jpg" alt="double-room-expense" class="r_right">

        <img src="\images\double-standard.jpg" alt="double-room-cheap" class="r_left">
      </div>

      <div class="containerB">
        <img src="\images\twin-deluxe.jpg" alt="twin-room-expense" class="r_right">

        <img src="\images\twin-standard.jpg" alt="twin-room-cheap" class="r_left">
      </div>
    </div>

    <div class="room_titles" id="Art">Double Rooms</div>

    <div class="room_titles" id="Brt">Twin Rooms</div>

    <div class="room_titles" id="Crt">-Hover to see Deluxe Rooms-</div>

    <button class="book-now"> Book Now!</button>
  </main>
</body>

<%- include('footer') %>