




/* All Pages styling */
#logo{
    position: absolute;
    width:150px;
    height:150px;
}

.navbar {
    background-color: #0F0906;
    justify-content: center;
    padding: 30px 0px;
    font-size: 30px;
    display: flex;
}

.navbar a {
    color: #C4C4C4;
    text-align: center;
    padding: 30px;
    position: relative;
    text-decoration: none;
}

.navbar a:hover {
    color: #B98B73;
}

body {
    display: flex;
    flex-direction: column;
    margin:0px;
    background: rgba(92, 105, 60, 0.5);
}

main{
    flex-grow: 1;
}

#footer{
    background-color: #0F0906;
    color:#C4C4C4;
    padding: 2px 15px;
    margin-top: 50px;
}






/* HomePage */

html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    text-align: center;
}

.skyline{
    width: 1400px;
    height: 800px;
    border: 2rem solid black;
}

.description{
    position: relative;
    text-align: center;
}

.left{
    margin: auto;
    background-color: rgba(196, 196, 196, 0.8);
    width: 50%;
    border: 0.2rem solid black;
    position: absolute;
    top: 40px;
    left: 290px;
}

h3{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}






/* Rooms Booking Page */

.bookings-table {
    border-collapse: collapse;
    width: 500px;
    box-shadow: 0 0 1px #0F0906;
    border-bottom: 1px solid;
    margin-left: auto;
    margin-right: auto;    
}

.bookings-table thead tr {
    background: #B98B73;
    color: #0F0906;
}

.bookings-table tbody tr {
    color: #0F0906;
    text-align: center;
}






/* Attractions page */

h2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 3rem;
}

.attractionType{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin: 50px;
    background-color: #C4C4C4;
    border-radius: 5px;
}

#row-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    position: relative;
}

.Name{
    position: absolute;   
    background-color: rgba(92, 105, 60, 0.9);
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 192px;
    border-style: solid;
    border-color: #C4C4C4;
}


.pop{
    height: 200px;
    width: 300px;
    margin: 15px;
    border: 0.5rem solid black;
}






/* Alchemist Pop-up*/

.Alchemist-web{
    color: white;
}

.AlchemistaInfo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border: 0.2rem solid black;
    /* background-color: #C4C4C4; */
    background-color: rgba(92, 105, 60);
    z-index: 10;
    width: 700px;
    height: 600px;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    overflow-y: scroll;
}


.extra-info{
    padding: 10px 5px;
}


.JS-close{
    cursor: pointer;
    border: 0.1rem solid black;
    background-color: rgba(0,0,0,0.8);
    color: white;
    float: right;
    padding: 3px;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    pointer-events: none;
}

.extra-info p{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.alchemist-map{
    height: 300px;
    width: 300px;
    justify-content: center;
    border: 0.2rem solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/* Bicycle Shop Pop up */

.Bicycle-web{
    color: white;
}

.BicycleShopInfo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border: 0.2rem solid black;
    /* background-color: #C4C4C4; */
    background-color: rgba(92, 105, 60);
    z-index: 10;
    width: 700px;
    height: 600px;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    overflow-y: scroll;
}

.JS-close2{
    cursor: pointer;
    border: 0.1rem solid black;
    background-color: rgba(0,0,0,0.8);
    color: white;
    float: right;
    padding: 3px;
}

.extra-info2{
    padding: 10px 5px;
}

.extra-info2 p{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.BicycleShop-map{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0.2rem solid black;
}



/* Contact Page */
.contact_box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0.7rem solid black;
    margin: auto;
    background-color: rgba(196, 196, 196, 0.8);
    width: 50%;
}


.contact_box .address, a{
    position: relative;
    text-align: center;
}  






/* ScreenSize for iphone X */

@media screen and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3){ 


/* All */

    #logo{
        position: absolute;
        display: block;
        justify-content: center;
        left: 30%;
    }

    .navbar{
        background-color: #0F0906;
        font-size: 150%;
        display: flex;
        width: 375px;
        flex-direction: column;
        margin-top: 150px;
        }


    .navbar a {
        color: #C4C4C4;
        text-align: left;
        padding: 30px;
        position: relative;
        text-decoration: none; 
        margin-left: 10px;
        border-left: 1rem solid #C4C4C4;
        /* width: 55%; */
    }
    
    .navbar a:hover {
        color: #B98B73;
    }

    body {
        display: flex;
        flex-direction: column;
        background: rgba(92, 105, 60, 0.5);
    }
    
    main{
        flex-grow: 1;
    }
    

/* Homepage */

    h1{
        font-size: 50px;
        text-align: center;
    }

    .skyline{
        width:375px;
        height: 200px;
        border: 0.3rem solid black;
    }

    .left{
        width:350px;
        height: 200px;
        margin-left: -277px;
        margin-top: 200px;
    }


    #footer{
        background-color: #0F0906;
        color:#C4C4C4;
        padding: 2px 15px;
        width: 375px;
        margin-top: 300px;
    }
      
};

.rooms_container{
    display: flex;
    flex-direction: row;
    /* margin: 1rem; */
}

.containerA {
    position: relative;
    margin: 1rem;
    width: 45%;
    border: 0.2rem solid black;
    display: flex;
    flex-direction: column;
}

/* .containerA .r_left,.containerA .r_right {
    transition: 1.5s ease-in-out;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    width: 35%;
    border: 0.2rem solid black;
    top: 3rem;
    left: 50%;
} */

.containerA .r_left {
    position: absolute;
    display: block;
    width: 100%;
    transition: 1.5s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);


    /* top: 1.1rem;
    left: -1rem;
    width: 35rem; */
}
/* .containerB img.r_left {
    width: 10rem;
} */

.containerA .r_left:hover{
    clip-path: polygon(0 0%, 0% 0, 0% 0%, 0 0%);
    opacity: 0;

}
.containerB {
    position: relative;
    margin: 1rem;
    width: 45%;
    border: 0.2rem solid black;
    left: 50%;
    display: flex;
    flex-direction: column;

}

 .containerB .r_left {
    position: absolute;
    display: block;
    width: 100%;
    transition: 1.5s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);


}
/* 
.containerB .r_right {
    position: absolute;
    border: 0.2rem solid black;

    bottom: 1rem;
    left: 100%;
    width: 35rem;
} */

.containerB .r_left:hover{
    clip-path: polygon(0 0%, 0% 0, 0% 0%, 0 0%);
    opacity: 0; 
}

/* .room_titles{
    display: flex;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid #0F0906;
    bottom: 10%;
    position: absolute;
    font-size: 1.5rem;
} */


fieldset{ 
    display: block;
    border-color: black;
    position: relative;
    /* top: 10rem; */
    /* height: 10rem; */
    border-right: none;
    border-left: none;

}

/* bookings section */
#bookings_logo{
    position: absolute;
    width: 15rem;
    top: 20rem;
    margin-left: 5%;
    margin-right: 1%;
    z-index: 1;
    

}

#booking_form{
    position: relative;
    padding-left: 40%;

}

label, #std_d_rm_qty, #sup_d_rm_qty, #std_t_rm_qty, #sup_t_rm_qty
,#start_date, #finish_date {  
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* facilities styling */

#title{
    position: relative;
    top: 0.5rem;
    left: 4rem;

}

.picture {
    position: relative;
    width: 100%;
    max-width: 300px;

}
.image {
    display: block;
    width: 100%;
    height: auto;
}

.descriptive-text {
    position: absolute;
    bottom: 2rem;
    opacity: 0;
    transition: 0.5s;
    color: white;
    background: rgba(108, 122, 137, 0.7);
    width: 100%;
    text-align: center;
}


.picture:hover .descriptive-text{
    opacity: 1;
}

.attractions_main {
    position: relative;
}

.row {
    padding: 10px;
}

.row .picture{
    margin-top: 8px;
    display: inline-block; 

}

.caption{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;
}


.book-now{
    display: flex;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    left: 45%;
    background-color: transparent;
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid #0F0906;
    cursor: pointer;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    bottom: 10%;
    position: absolute;
    font-size: 1.5rem;
}

.book-now:hover{
    border-top: 0px;
    border-bottom: 0px;
}
  

/* Attractions */

#row-container{
    flex-direction: column;
}